<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Document</title>
</head>
<body>

  <!-- ヘッダー部分のレイアウト -->
  <header class="l-header">
    ヘッダーのコンテンツ
  </header>

  <!-- ヘッダー部分を固定 -->
  <header class="l-header l-header--fixed">
    ヘッダーのコンテンツ
  </header>

  <script src="../../scripts/vendors/intersection-observer-polyfill.js"></script>
  <script src="../../scripts/libs/scroll-observer.js"></script>
  <script src="../../scripts/libs/header.js"></script>
</body>
</html>
