<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- サイトのインナー部分のレイアウト -->
    <div>
      <div class="l-inner">コンテンツのインナー部分</div>
    </div>

    <!-- サイトのインナー部分を広げたレイアウト -->
    <div>
      <div class="l-inner l-inner--wide">コンテンツのインナー部分</div>
    </div>

    <!-- サイトのインナー部分を狭めたレイアウト -->
    <div>
      <div class="l-inner l-inner--narrow">コンテンツのインナー部分</div>
    </div>

    <!-- サイトのインナー部分を幅いっぱいに広げたレイアウト -->
    <div>
      <div class="l-inner l-inner--full">コンテンツのインナー部分</div>
    </div>

    <!-- サイトのインナー部分をウインドウ幅いっぱいに広げたレイアウト -->
    <div>
      <div class="l-window-full">コンテンツのインナー部分</div>
    </div>

    <!-- サイトのインナー部分を右側のみウインドウ幅いっぱいに広げたレイアウト -->
    <div>
      <div class="l-window-right u-text-right">コンテンツのインナー部分</div>
    </div>

    <!-- サイトのインナー部分を左側のみウインドウ幅いっぱいに広げたレイアウト -->
    <div>
      <div class="l-window-left">コンテンツのインナー部分</div>
    </div>
  </body>
</html>
