<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Document</title>
</head>
<body>

  <section class="l-section">
    セクションのコンテンツ
  </section>

  <!-- sectionが重なり合うようにスクロール -->
  <section class="l-section l-section--sticky js-sticky">
    セクションのコンテンツ
  </section>

  <script src="../../scripts/vendors/stickyfill.min.js"></script>
  <script src="../../scripts/libs/sticky.js"></script>
</body>
</html>
