<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <style>
      .c-background {
        background-image: url(//placeimg.com/750/500/any);
      }
    </style>

    <div style="width: 80%; margin: 0 auto">
      <div class="c-background"></div>
      <div class="c-background c-background--mask"></div>
      <div class="c-background c-background--fixed"></div>
      <div class="c-background c-background--window-full"></div>
      <div class="c-background c-background--window-left"></div>
      <div class="c-background c-background--window-right"></div>
    </div>
  </body>
</html>
