<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- 吹き出しのついたボックス -->
    <div class="c-box c-box--balloo-right">
      <div class="c-box__title">ボックスの見出し</div>
      <p>ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。</p>
    </div>

    <!-- 見出しがボーダーに被るボックス -->
    <div class="c-box c-box--type1">
      <div class="c-box__title c-box__title--type1">ボックスの見出し</div>
      <p>ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。</p>
    </div>

    <!-- 見出しを塗りつぶしたボックス -->
    <div class="c-box c-box--type2">
      <div class="c-box__title c-box__title--type2">ボックスの見出し</div>
      <p>ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。ボックスの内容です。</p>
    </div>
  </body>
</html>
