<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- 縦並び・影付き -->
    <div class="c-card c-card--shadow">
      <div class="c-card__img">
        <img src="//placeimg.com/750/500/any" alt="" />
      </div>
      <div class="c-card__body">
        <div class="c-card__meta">
          <time class="c-card__time" datetime="2019-01-01">2019-01-01</time>
          <div class="c-card__label">ラベル</div>
        </div>
        <div class="c-card__title">タイトル</div>
        <p class="c-card__excerpt">抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。</p>
      </div>
    </div>

    <!-- 横並び -->
    <div class="c-card c-card--horizon">
      <div class="c-card__img c-card__img--horizon">
        <img src="//placeimg.com/750/500/any" alt="" />
      </div>
      <div class="c-card__body c-card__body--horizon">
        <div class="c-card__meta">
          <time class="c-card__time" datetime="2019-01-01">2019-01-01</time>
          <div class="c-card__label">ラベル</div>
        </div>
        <div class="c-card__title">タイトル</div>
        <p class="c-card__excerpt">抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。抜粋のところ。</p>
      </div>
    </div>
  </body>
</html>
