<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- 標準のチェックボックス アイコンはCSS -->
    <label>
      <input type="checkbox" class="c-checkbox" name="your-checkbox" value="チェックボックス1" />
      <span>チェックボックス1</span>
    </label>
    <label>
      <input type="checkbox" class="c-checkbox" name="your-checkbox" value="チェックボックス2" />
      <span>チェックボックス2</span>
    </label>
    <label>
      <input type="checkbox" class="c-checkbox" name="your-checkbox" value="チェックボックス3" />
      <span>チェックボックス3</span>
    </label>
  </body>
</html>
