<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Document</title>
</head>
<body>

  <!-- 右から開くドロワー -->
  <div class="c-drawer">
    <div class="c-drawer__icon js-drawer">
      <div class="c-drawer__bars">
        <span class="c-drawer__bar"></span>
        <span class="c-drawer__bar"></span>
        <span class="c-drawer__bar"></span>
      </div>
    </div>
    <div class="c-drawer__close js-drawer"></div>
    <div class="c-drawer__content"><a class="js-drawer" href="">コンテンツ部分</a></div>
  </div>

  <!-- 左から開くドロワー -->
  <div class="c-drawer">
    <div class="c-drawer__icon js-drawer">
      <div class="c-drawer__bars">
        <span class="c-drawer__bar"></span>
        <span class="c-drawer__bar"></span>
        <span class="c-drawer__bar"></span>
      </div>
    </div>
    <div class="c-drawer__close js-drawer"></div>
    <div class="c-drawer__content c-drawer__content--left"><a class="js-drawer" href="">コンテンツ部分</a></div>
  </div>

  <!-- 上から開くドロワー -->
  <div class="c-drawer">
    <div class="c-drawer__icon js-drawer">
      <div class="c-drawer__bars">
        <span class="c-drawer__bar"></span>
        <span class="c-drawer__bar"></span>
        <span class="c-drawer__bar"></span>
      </div>
    </div>
    <div class="c-drawer__close js-drawer"></div>
    <div class="c-drawer__content c-drawer__content--top"><a class="js-drawer" href="">コンテンツ部分</a></div>
  </div>

  <!-- 画面を覆うドロワー -->
  <div class="c-drawer">
    <div class="c-drawer__icon js-drawer">
      <div class="c-drawer__bars">
        <span class="c-drawer__bar"></span>
        <span class="c-drawer__bar"></span>
        <span class="c-drawer__bar"></span>
      </div>
    </div>
    <div class="c-drawer__close js-drawer"></div>
    <div class="c-drawer__content c-drawer__content--cover"><a class="js-drawer" href="">コンテンツ部分</a></div>
  </div>

  <script src="../../scripts/libs/drawer.js"></script>
</body>
</html>
