<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Document</title>
</head>
<body>
  <!-- この要素は削除してください -->
  <div style="height: 3000px;"></div>

  <div class="c-floating js-floating">
    <div class="c-icon-arrow-top"><span></span></div>
  </div>

  <script src="../../scripts/vendors/intersection-observer-polyfill.js"></script>
  <script src="../../scripts/vendors/smooth-scroll-polyfill.js"></script>
  <script src="../../scripts/libs/scroll-observer.js"></script>
  <script src="../../scripts/libs/floating.js"></script>
</body>
</html>
