<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Document</title>
</head>
<body>

  <style>
    h2 {
      margin-top: 3em;
    }

  </style>

  <!-- 標準の見出し -->
  <h2 class="c-heading">見出し</h2>
  <!-- 左のバーに破線の下線をプラスした見出し -->
  <h2 class="c-heading--type001">見出し</h2>
  <!-- 上下のバーに挟まれた見出し -->
  <h2 class="c-heading--type002">見出し</h2>
  <!-- 途中で色が変わる下線の見出し -->
  <h2 class="c-heading--type003">見出し</h2>
  <!-- ステッチ風のポップな見出し -->
  <h2 class="c-heading--type004">見出し</h2>
  <!-- 吹き出し風の見出し -->
  <h2 class="c-heading--type005">見出し</h2>
  <!-- 点線の下線の見出し -->
  <h2 class="c-heading--type006">見出し</h2>
  <!-- 下線の見出し -->
  <h2 class="c-heading--type007">見出し</h2>
  <!-- 左側がバーになっている見出し -->
  <h2 class="c-heading--type008">見出し</h2>
  <!-- 背景色のみシンプルな見出し -->
  <h2 class="c-heading--type009">見出し</h2>
  <!-- 端が折り曲がった見出し -->
  <h2 class="c-heading--type010">見出し</h2>
  <!-- 平行四辺形の見出し -->
  <h2 class="c-heading--type011"><span>見出し</span></h2>
  <!-- 四角のアイコンから始まる見出し -->
  <h2 class="c-heading--type012">見出し</h2>
  <!-- 丸のアイコンから始まる見出し -->
  <h2 class="c-heading--type013">見出し</h2>
  <!-- ひし形のアイコンから始まる見出し -->
  <h2 class="c-heading--type014">見出し</h2>
  <!-- 短いバーから始まる見出し -->
  <h2 class="c-heading--type015">見出し</h2>
  <!-- 長い線に挟まれた見出し -->
  <h2 class="c-heading--type016"><span>見出し</span></h2>
  <!-- 短い線に挟まれた見出し -->
  <h2 class="c-heading--type017"><span>見出し</span></h2>

</body>
</html>
