<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="c-icon-circle"><span></span></div>
    <div class="c-icon-cross"><span></span></div>
    <div class="c-icon-hamburger"><span></span></div>
    <div class="c-icon-check"><span></span></div>
    <div class="c-icon-arrow-right"><span></span></div>
    <div class="c-icon-arrow-bottom"><span></span></div>
    <div class="c-icon-arrow-left"><span></span></div>
    <div class="c-icon-arrow-top"><span></span></div>
    <div class="c-icon-triangle"><span></span></div>
    <div class="c-icon-rhombus"><span></span></div>
    <div class="c-icon-square"><span></span></div>
    <div class="c-icon-glass"><span></span></div>
  </body>
</html>
