<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Document</title>
</head>
<body>

  <!-- スタイルを削除した標準のリスト 階層構造は維持 -->
  <ul class="c-list">
    <li><a href="">リスト1</a></li>
    <li>
      <a href="">リスト2</a>
      <ul>
        <li><a href="">子リスト1</a></li>
        <li>
          <a href="">子リスト2</a>
          <ul>
            <li><a href="">孫リスト1</a></li>
            <li><a href="">孫リスト2</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="">リスト3</a></li>
  </ul>

  <!-- 黒丸付きのリスト -->
  <ul class="c-list c-list--disc">
    <li><a href="">リスト1</a></li>
    <li>
      <a href="">リスト2</a>
      <ul>
        <li><a href="">子リスト1</a></li>
        <li>
          <a href="">子リスト2</a>
          <ul>
            <li><a href="">孫リスト1</a></li>
            <li><a href="">孫リスト2</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="">リスト3</a></li>
  </ul>

  <!-- 数字付きのリスト -->
  <ul class="c-list c-list--decimal">
    <li><a href="">リスト1</a></li>
    <li>
      <a href="">リスト2</a>
      <ul>
        <li><a href="">子リスト1</a></li>
        <li>
          <a href="">子リスト2</a>
          <ul>
            <li><a href="">孫リスト1</a></li>
            <li><a href="">孫リスト2</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="">リスト3</a></li>
  </ul>

  <!-- 左側アローアイコン付きのリスト -->
  <ul class="c-list c-list--arrow-start">
    <li><a href="">リスト1</a></li>
    <li>
      <a href="">リスト2</a>
      <ul>
        <li><a href="">子リスト1</a></li>
        <li>
          <a href="">子リスト2</a>
          <ul>
            <li><a href="">孫リスト1</a></li>
            <li><a href="">孫リスト2</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="">リスト3</a></li>
  </ul>

  <!-- 右側アローアイコン付きのリスト -->
  <ul class="c-list c-list--arrow-end">
    <li><a href="">リスト1</a></li>
    <li>
      <a href="">リスト2</a>
      <ul>
        <li><a href="">子リスト1</a></li>
        <li>
          <a href="">子リスト2</a>
          <ul>
            <li><a href="">孫リスト1</a></li>
            <li><a href="">孫リスト2</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="">リスト3</a></li>
  </ul>

  <!-- リスト数に応じてカウントされるリスト -->
  <ul class="c-list c-list--count">
    <li><a href="">リスト1</a></li>
    <li><a href="">リスト2</a></li>
    <li><a href="">リスト3</a></li>
  </ul>

</body>
</html>
