<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/vendors/luminous-basic.min.css" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <a href="//placeimg.com/750/500/any" class="luminous">
      <img src="//placeimg.com/300/200/any" alt="[image_alt1]" />
    </a>
    <a href="//placeimg.com/750/500/any" class="luminous">
      <img src="//placeimg.com/300/200/any" alt="[image_alt2]" />
    </a>
    <a href="//placeimg.com/750/500/any" class="luminous">
      <img src="//placeimg.com/300/200/any" alt="[image_alt3]" />
    </a>
    <a href="//placeimg.com/750/500/any" class="luminous">
      <img src="//placeimg.com/300/200/any" alt="[image_alt4]" />
    </a>

    <script src="../../scripts/vendors/Luminous.min.js"></script>
    <script src="../../scripts/libs/modal-slider.js"></script>
  </body>
</html>
