<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Document</title>
</head>
<body>

  <div class="c-pagenation">
    <a class="c-pagenation__num c-pagenation__num--prev" href="">&lt;</a>
    <span class="c-pagenation__num c-pagenation__num--current">1</span>
    <a class="c-pagenation__num" href="">2</a>
    <a class="c-pagenation__num" href="">3</a>
    <a class="c-pagenation__num c-pagenation__num--next" href="">&gt;</a>
  </div>

</body>
</html>
