<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- 標準のラジオボタン アイコンはCSS -->
    <label>
      <input type="radio" name="your-radio" value="ラジオ1" class="c-radio" checked />
      <span>ラジオ1</span>
    </label>
    <label>
      <input type="radio" name="your-radio" value="ラジオ2" class="c-radio" />
      <span>ラジオ2</span>
    </label>
  </body>
</html>
