<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- 標準のセレクトボックス アイコンは背景画像 -->
    <select name="your-select" class="c-select">
      <option value="セレクト1">セレクト1</option>
      <option value="セレクト2">セレクト2</option>
      <option value="セレクト3">セレクト3</option>
      <option value="セレクト4">セレクト4</option>
      <option value="セレクト5">セレクト5</option>
    </select>

    <!-- 横幅いっぱいに広げたセレクトボックス -->
    <select name="your-select" class="c-select c-select--full">
      <option value="セレクト1">セレクト1</option>
      <option value="セレクト2">セレクト2</option>
      <option value="セレクト3">セレクト3</option>
      <option value="セレクト4">セレクト4</option>
      <option value="セレクト5">セレクト5</option>
    </select>

    <!-- 複数選択が可能なセレクトボックス -->
    <select name="your-select" class="c-select" multiple>
      <option value="セレクト1">セレクト1</option>
      <option value="セレクト2">セレクト2</option>
      <option value="セレクト3">セレクト3</option>
      <option value="セレクト4">セレクト4</option>
      <option value="セレクト5">セレクト5</option>
    </select>
  </body>
</html>
