<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Document</title>
</head>
<body>

  <table class="c-table">
    <tr>
      <th>head</th>
      <th>head</th>
      <th>head</th>
    </tr>
    <tr>
      <td>data</td>
      <td>data data</td>
      <td>data data data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
  </table>

  <!-- 横幅が均一になるテーブル -->
  <table class="c-table c-table--fixed">
    <tr>
      <th>head</th>
      <th>head</th>
      <th>head</th>
    </tr>
    <tr>
      <td>data</td>
      <td>data data</td>
      <td>data data data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
  </table>

  <!-- 偶数行でハイライトされるテーブル -->
  <table class="c-table c-table--striped">
    <tr>
      <th>head</th>
      <th>head</th>
      <th>head</th>
    </tr>
    <tr>
      <td>data</td>
      <td>data data</td>
      <td>data data data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
  </table>

  <!-- 横線だけで区切られたテーブル -->
  <table class="c-table c-table--horizon">
    <tr>
      <th>head</th>
      <th>head</th>
      <th>head</th>
    </tr>
    <tr>
      <td>data</td>
      <td>data data</td>
      <td>data data data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
  </table>

  <!-- 画面からはみ出ると水平スクロールするテーブル -->
  <div class="c-table-responsive">
    <table class="c-table">
      <tr>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
        <th>head</th>
      </tr>
      <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
      </tr>
    </table>
  </div>

</body>
</html>
