<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <input type="text" name="your-text" class="c-text" value="" />
    <!-- 横幅いっぱいに広げたテキストボックス -->
    <input type="text" name="your-text" class="c-text c-text--full" value="" />
    <textarea name="your-textarea" class="c-textarea"></textarea>
    <!-- 右下で大きさを変更できるテキストエリア -->
    <textarea name="your-textarea" class="c-textarea c-textarea--resize"></textarea>
    <!-- 横幅いっぱいに広げたテキストエリア -->
    <textarea name="your-textarea" class="c-textarea c-textarea--full"></textarea>
  </body>
</html>
