<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/vendors/swiper.min.css" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="p-hero">
      <div class="swiper-container p-hero__container js-hero-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide p-hero__slide">
            <div class="p-hero__title p-hero__title--up">タイトル</div>
            <img class="p-hero__image p-hero__image--zoom" src="//placeimg.com/750/500/any" alt="" />
          </div>
          <div class="swiper-slide p-hero__slide">
            <div class="p-hero__title p-hero__title--up">タイトル</div>
            <img class="p-hero__image p-hero__image--zoom" src="//placeimg.com/750/500/any" alt="" />
          </div>
          <div class="swiper-slide p-hero__slide">
            <div class="p-hero__title p-hero__title--up">タイトル</div>
            <img class="p-hero__image p-hero__image--zoom" src="//placeimg.com/750/500/any" alt="" />
          </div>
        </div>
        <!-- /.swiper-wrapper -->

        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-prev p-hero__btn"></div>
        <div class="swiper-button-next p-hero__btn"></div>
        <!-- <div class="swiper-scrollbar"></div> -->
      </div>
      <!-- /.swiper-container -->
    </div>
    <!-- /.hero -->

    <script src="../../scripts/vendors/intersection-observer-polyfill.js"></script>
    <script src="../../scripts/libs/scroll-observer.js"></script>
    <script src="../../scripts/vendors/swiper.min.js"></script>
    <script src="../../scripts/libs/hero-slider.js"></script>
  </body>
</html>
