<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <img class="js-object-fit" src="//placeimg.com/750/500/any" />

    <script src="../../scripts/vendors/ofi.min.js"></script>
    <script src="../../scripts/libs/object-fit.js"></script>
  </body>
</html>
