<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/vendors/scroll-hint.css">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Document</title>
</head>
<body>

  <style>
    table {
      min-width: 1500px;
      height: 500px;
    }

  </style>

  <div class="js-scrollable">
    <table>
      <thead>
        <tr>
          <th>Col1</th>
          <th>Col2</th>
          <th>Col3</th>
          <th>Col4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Reiciendis, animi excepturi modi veritatis, suscipit, et voluptatum laborum molestiae cumque<br> fugiat iusto asperiores quis ea distinctio praesentium libero tenetur saepe iure!</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Reiciendis, animi excepturi modi veritatis, suscipit, et voluptatum laborum molestiae cumque<br> fugiat iusto asperiores quis ea distinctio praesentium libero tenetur saepe iure!</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Reiciendis, animi excepturi modi veritatis, suscipit, et voluptatum laborum molestiae cumque<br> fugiat iusto asperiores quis ea distinctio praesentium libero tenetur saepe iure!</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Reiciendis, animi excepturi modi veritatis, suscipit, et voluptatum laborum molestiae cumque<br> fugiat iusto asperiores quis ea distinctio praesentium libero tenetur saepe iure!</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="../../scripts/vendors/scroll-hint.min.js"></script>
  <script src="../../scripts/libs/scroll-hint.js"></script>
</body>
</html>
