<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <a href="#a-target1">スムーススクロールの対象</a>
    <a href="#a-target2" class="js-scroll-excluded">スムーススクロールから除外</a>
    <a href="#a-target3">リンクが存在しないもの</a>
    <a href="https://google.com">外部リンク</a>

    <!-- 削除してください -->
    <div style="height: 1000px"></div>
    <div id="a-target1"></div>

    <!-- 削除してください -->
    <div style="height: 1000px"></div>
    <div id="a-target2"></div>

    <!-- 削除してください -->
    <div style="height: 1000px"></div>
    <!-- <div id="a-target3"></div> -->

    <script src="../../scripts/vendors/scrollto-polyfill.js"></script>
    <script src="../../scripts/libs/smooth-scroll.js"></script>
  </body>
</html>
