<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Document</title>
</head>
<body>

  <div class="c-accordion">
    <div class="c-accordion__title c-accordion__title--arrow js-accordion js-transition-end">タイトル</div>
    <div class="c-accordion__content">
      コンテンツ部分
    </div>
  </div>

  <script src="../../scripts/libs/transition-end.js"></script>
  <script src="../../scripts/libs/accordion.js"></script>
</body>
</html>
