<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="c-btn js-parallax u-fadein">fadein</div>
    <div class="c-btn js-parallax u-fadein-up">fadein-up</div>
    <div class="c-btn js-parallax u-fadein-down">fadein-down</div>
    <div class="c-btn js-parallax u-fadein-left">fadein-left</div>
    <div class="c-btn js-parallax u-fadein-right">fadein-right</div>

    <div class="js-parallax u-fadein-group-up">
      <div class="c-btn item">fadein</div>
      <div class="c-btn item">fadein</div>
      <div class="c-btn item">fadein</div>
      <div class="c-btn item">fadein</div>
    </div>

    <div class="js-parallax u-fadein-group u-fadein-delay">
      <div class="c-btn item">fadein-delay</div>
      <div class="c-btn item">fadein-delay</div>
      <div class="c-btn item">fadein-delay</div>
      <div class="c-btn item">fadein-delay</div>
    </div>

    <script src="../../scripts/vendors/intersection-observer-polyfill.js"></script>
    <script src="../../scripts/libs/scroll-observer.js"></script>
    <script src="../../scripts/libs/parallax.js"></script>
  </body>
</html>
