<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="c-mainvisual u-valid-vh">
      <div class="c-mainvisual__content">
        <div class="c-mainvisual__title">タイトル</div>
        <div class="c-mainvisual__lead">リード文</div>
      </div>
    </div>

    <script src="../../scripts/libs/valid-vh.js"></script>
  </body>
</html>
